* {
  font-family: sans-serif;
}

#const {
  background-color: rgba(232, 236, 240, 0.945);
  padding: 10px;
}

/* Navigation bar styles */
nav {
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #2e2c2c;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  background-color: rgba(232, 236, 240, 0.945);
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#heading {
  text-align: center;
  margin-top: 60px;
}

#heading h2 {
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-bottom: 10px;
}

#heading p {
  color: rgb(51, 51, 51);
}

#heading a {
  text-decoration: none;
}

#heading a:hover {
  text-decoration: none;
  color: #00000088;
}

main {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  margin: 50px auto;
  width: 600px;
}

#main-content {
  text-align: left;
  padding: 20px;
}

#main-content h2 {
  color: rgb(46, 44, 44);
}

#main-content h3 {
  color: rgb(46, 44, 44);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.identical {
  display: inline-block;
  width: 270px;
}

form label {
  color: rgb(46, 44, 44);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="date"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background-color: rgba(232, 236, 240, 0.945);
  font: inherit;
  color: rgb(138, 130, 130);
  border: 1px solid #ccc;
  border-radius: 4px;
}

#lower-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#lone {
  width: 100%;
}

.identical {
  display: inline-block;
  width: 270px;
}

input::placeholder {
  color: rgb(53, 51, 51);
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
}

section a:hover{
    text-decoration: none;
    color: rgb(46, 44, 44);
}

main button[type="submit"] {
  display: block;
  font: inherit;
  background-color: rgb(125, 134, 140);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  width: 100px;
}

main button[type="submit"]:hover {
  background-color: rgba(125, 134, 140, 0.507);
}

footer {
  background-color: rgb(148, 157, 172);
  color: rgb(19, 20, 20);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer a{
    color: rgb(38, 81, 160);
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: rgba(255, 242, 242, 0.966);
}
